@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="container">
            <div class="row">
                <header class="d-flex flex-wrap justify-content-center py-2 mb-1">
                    <span class="fs-4">Jam Utility</span>
                </header>
            </div>
            <div class="row">
                @Body
            </div>
        </div>
    </main>
</div>
