<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-2 mb-1">
      <a href="/" class="d-flex align-items-center mb-1 text-dark text-decoration-none">
        <span class="fs-4">Jam Utility</span>
      </a>


@*       <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>

        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
      </ul> *@
    </header>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
