@using JamUtility.Models

 <div class="col-md-6 d-flex justify-content-center flex-wrap">
    <div id="piano-keyboard">
        <div class="key key-natural"></div>
        <div class="key key-sharp"></div>
        <div class="key key-natural"></div>
        <div class="key key-sharp"></div>
        <div class="key key-natural"></div>
        <div class="key key-natural"></div>
        <div class="key key-sharp"></div>
        <div class="key key-natural"></div>
        <div class="key key-sharp"></div>
    </div>
</div>

@code {



}