@using JamUtility.Models
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">@scale.Root @scale.Type
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>

    <p class="card-text">
    @foreach (var note in scale.Notes)
    {
        @(note + ", ")
    }
        </p>

  </div>

</div>




@code {

    [Parameter]
    public Scale? scale { get; set; }

}