@page "/about"

<PageTitle>About Jam Utility</PageTitle>

<h1>About Jam Utility</h1>

<h4>
    Jam Utility is a helper tool for musicians to use when writing or playing music, either alone or together.
</h4>

<p>Have a riff or melody and want to know what other material might work well with it?</p>
<p>Jam Utility creates and filters a library of musical scales. </p>
<p>Select the notes in your riff or melody, and Jam Utility will tell you which musical scales contain those notes! </p>
<p>It will display all the notes within each matching scale, as well as the common chords built from that scale. Nice! </p>
