@page "/"
@using JamUtility.Models
@using JamUtility.Components
@using JamUtility.Utilities

<PageTitle>Jam Utility</PageTitle>

<h1>Jam Utility</h1>

<p role="status">Scale count: @x.Count</p>

<button class="btn btn-primary" @onclick="ShuffleScales">Shuffle Scales</button>



<div class="container">
    <div class="row">
        @foreach (var y in x)
        {
            <div class="col-sm m-1">
                <ScaleCard scale=y />
            </div>

        }
    </div>
</div>


@code {

    List<Scale> x = new List<Scale>();

    protected override async Task OnInitializedAsync()
    {
        // x = Scales.GetScales();
        x = await ScaleBuilder.BuildScales();
    }
    
    private void ShuffleScales()
    {
        x = x.OrderBy(s => Random.Shared.Next()).ToList();
    }
}