@page "/"
@using JamUtility.Models
@using JamUtility.Components
@using JamUtility.Utilities

<PageTitle>Jam Utility</PageTitle>

<h1>Jam Utility</h1>

<p role="status">Scale count: @x.Count</p>

<button class="btn btn-primary" @onclick="ShuffleScales">Shuffle Scales</button>

@foreach (var y in x)
{
    <ScaleCard scale=y />
}

@code {

    List<Scale> x = new List<Scale>();

    protected override async Task OnInitializedAsync()
    {
        // x = Scales.GetScales();
        x = await ScaleBuilder.BuildScales();
    }
    
    private void ShuffleScales()
    {
        x = x.OrderBy(s => Random.Shared.Next()).ToList();
    }
}