body {
  background-color: #f0f0f0;

}

.App {
  text-align: center;
  padding: 25px 50px 75px 100px;
  max-width: 1024px;
  min-width: 540px;
  margin: 0 auto;
}

.App-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.App-item {
  width: 32%;
  padding-bottom: 18%; 
  margin-bottom: 2%; 
  position: relative;
  box-shadow: 5px 6px 6px -3px rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  background-color: #17BEBB;

}

.App-selectorbar {
  width: 100%;
  padding-bottom: 9%; 
  margin-bottom: 2%; 
  position: relative;
  box-shadow: 5px 6px 6px -3px rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  background-color: #17BEBB;
}

.App-title {
  text-shadow:1px 1px 2px rgb(209, 209, 209);
}

.App-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

button { 
  margin: 1px;
  padding: 5px;
  color: #FFFFFF; 
  background-color:#E4572E; 
  border:1px solid; 
  border-radius: 2px;
  border-color: rgb(17, 4, 27) rgb(37, 10, 39) rgb(42, 27, 39) rgb(49, 36, 52); 
  font-weight: bold;
}

button:hover {
  background-color: #98b041;
}

.button-selected {
  border-color: #ffc914;
  background-color:#ec6b44; 

}

ul {
  list-style-type: none;
}